@import url('pallete.css');

*{
    color: var(--text); 
    text-decoration:none;
}

p{
    margin:2px;
    text-indent:40px;
}

body{
    background-color: var(--base);
    margin:0px;
    padding:0px;

    display:grid;
    justify-items:center;
}

nav{
    width:100%;
    display:flex;
    gap:30px;

    

    justify-content:center;
    text-align:center;
    align-items:center;
}

.header{
    width: 100%;
    height: 50px;
    display:flex;
    
    background-color: var(--surface0);
    
    margin:0px;
    text-align:center;
    align-items:center;
    justify-content: center;

    font-size: 18px;
    padding:5px;
}

.pageLink:hover{
    transform: scale(1.1);
}




.content{
    width: 70%;
    margin-top:90px;

    display:flex;
    gap: 5em;
    place-items: center; 
    text-align:justify;

}

.photo{
    display:flex;
    justify-content:center;
    align-items:center;

    width:200px;
    height:200px;
    margin-bottom:30px;
    border-radius:100%;
    background-color: var(--overlay0);
    
}

.foto{
    width:95%;
    height:95%;
    border-radius: 100%;

}

.linkImg{
    width: 3em;
    height:3em;
}
