@import url('pallete.css');

.content{
    width: 70%;
    margin-top:90px;

    display:grid;
    place-items: center; 
    text-align:justify;

}

.photo{
    display:flex;
    justify-content:center;
    align-items:center;

    width:200px;
    height:200px;
    margin-bottom:30px;
    border-radius:100%;
    background-color: var(--overlay0);
    
}

.foto{
    width:95%;
    height:95%;
    border-radius: 100%;

}

.linkImg{
    width: 3em;
    height:3em;
}
