@import url('pallete.css');

*{
    color: var(--text); 
}

body{
    background-color: var(--base);
    margin:0px;
    padding:0px;

    display:grid;
    justify-items:center;
}


.header{
    width: 100%;
    height: 50px;
    background-color: var(--surface0);
    
    margin:0px;
    display:flex;
    justify-content:center;
    gap:40px;

    text-align:center;
    align-items:center;
    font-size: 18px;
    padding:5px;
}

.content{
    width: 70%;
    margin-top:90px;

    display:grid;
    place-items: center; 
    text-align:center;

}

.photo{
    display:flex;
    justify-content:center;
    align-items:center;

    width:200px;
    height:200px;
    margin-bottom:30px;
    border-radius:100%;
    background-color: var(--mantle);
    
}

.foto{
    width:90%;
    height:90%;
    border-radius: 100%;

}
