@import url('pallete.css');
@import url('fonts.googleapis.com');

*{
    font-family:'Roboto', sans-serif;
    color: var(--text); 
    text-decoration:none;
}

p{
    margin:2px;
    text-indent:40px;
}

body{
    background-color: var(--base);
    margin:0px;
    padding:0px;

    display:grid;
    justify-items:center;
}

nav{
    width:100%;
    display:flex;
    gap:30px;

    justify-content:center;
    text-align:center;
    align-items:center;
}

.header{
    width: 100%;
    height: 50px;
    display:flex;
    
    background-color: var(--surface0);
    
    margin:0px;
    text-align:center;
    align-items:center;
    justify-content: center;

    font-size: 18px;
    padding:5px;
}

.pageLink:hover{
    transform: scale(1.1);
}
