@import url('pallete.css');

.content{
        width: 90%;
        margin-top:50px;

        display:grid;
        gap:2em;
        grid-template-columns: 1fr;

    }

.prj{
    border:2px solid var(--maroon);
    border-radius:20px;
    
    padding:10px 7px 10px 7px; 

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0px;

}




@media screen and (min-width: 600px){
    .content{
        width: 90%;
        margin-top:50px;

        display:grid;
        gap:2em;
        grid-template-columns: 1fr 1fr;

    }


}

@media screen and (min-width: 900px){
    .content{
        width: 70%;
        margin-top:50px;

        display:grid;
        gap:2em;
        grid-template-columns: 1fr 1fr 1fr;

    }

  
}
